@page
@model Hotel_Anna_.Pages.FilReq.Request.NomerModel
@{
    ViewData["Title"] = "Номера";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Сотрудник
            </th>

        </tr>
    </thead>
    <tbody>
        @for (int num = 0; num < Model.Rooms.Count; num++)
        {
            var item = Model.Rooms[num];
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Appellation)
                </td>

                <td>
                    @{
                        try
                        {
                            @Model.Employees.First(r => r.ID == item.EmployeeID).FIO
                        }
                        catch
                        {
                            <p>нет</p>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>